* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Varela Round", sans-serif;
  scroll-behavior: smooth;
  background-color: gray;
  scroll-behavior: smooth;
}

.Heading {
  position: fixed;
  width: 100%;
}
a {
  text-decoration: none;
  color: #ffffff;
}

.CTopic {
  display: flex;
  position: absolute;
  top: 50px;
  position: fixed;
  bottom: 0;

  width: 18%;
  background-color: #d9eee1;
}

.CLeftSideTopic {
  display: flex;
  flex-direction: column;

  overflow-y: scroll;
  overflow-x: hidden;

  height: 100%;
  width: 100%;
}

.CLeftSideTopic a {
  color: black;
  padding: 10px 10px 0 10px;
}
.CRightSideContent {
  width: 80%;
  float: right;
  background-color: gray;

  padding-top: 50px;
  line-height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Topic {
  padding: 2px;
}
.Topic.active {
  background-color: rgb(83, 230, 86);
}

.Topic.active a {
  padding: 10px 10px 0 10px;
}

#CIntroduction {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
}

#Synatx img {
  height: 300px;
}

#Synatx button {
  position: relative;
  bottom: -65px;
  left: 10px;
  background-color: rgb(61, 60, 60);
  color: white;
  border: none;
  font-size: 20px;
  border-radius: 50%;

  padding: 5px;
  height: 30px;
  width: 30px;
}
#Synatx div {
  height: fit-content;
  width: fit-content;
  padding: 10px;
  margin: 30px 10px 20px;
  background-color: rgb(199, 192, 192);
  /* color: dimgray; */
  color: white;

  border-radius: 5px;
}
